
<div class="row">
<div class="jumbotron">
  <h1>Techtannica</h1>
  <p>Techtannica is a social, markdown wiki resource for technology.</p>
</div>
</div>
<div class="row">
  <div class="col-md-6">
    <h2>Techtannica</h2>
    <p>Create as many public wikis as possible.</p>
  </div>
  <div class="col-md-6">
    <h2>Techtannica Plus</h2>
    <p>Create private wikis.</p>
  </div>
</div>
